@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #FFFFFF;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-outfit), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}